# ----------------------------
# Настройки Kafka
# ----------------------------

# Внешний порт Kafka, через который клиенты подключаются снаружи контейнера
KAFKA_EXTERNAL_PORT=9092

# Внутренний порт Kafka, который используется внутри docker-сети
KAFKA_INTERNAL_PORT=29092

# Порт контроллера Kafka (используется при работе в режиме KRaft)
KAFKA_CONTROLLER_PORT=29093

# Порт для веб-интерфейса Kafka UI (например, Kafdrop, Redpanda Console)
KAFKA_UI_PORT=8090

#Настройки Elasticsearch
ELASTICSEARCH_PORT=9200

# Порт Kibana для доступа с хост-машины
KIBANA_PORT=5601

# Порт Logstash для beats/tcp input
LOGSTASH_BEATS_PORT=5044

# Порт HTTP API Logstash
LOGSTASH_API_PORT=9600

# Порт Prometheus
PROMETHEUS_PORT=9090

# Порт Grafana
GRAFANA_PORT=3000

# OTEL Collector OTLP gRPC
OTEL_COLLECTOR_OTLP_GRPC_PORT=4317

# OTEL Collector OTLP HTTP
OTEL_COLLECTOR_OTLP_HTTP_PORT=4318
